<!doctype html>

<html lang="en">

<head>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css" />


    <!-- chartjs -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
    integrity="sha512-G8JE1Xbr0egZE5gNGyUm1fF764iHVfRXshIoUWCTPAbKkkItp/6qal5YAHXrxEu4HNfPTQs6HOu3D5vCGS1j3w=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
    integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
    integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
    integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
    crossorigin="anonymous" /> -->


    <!-- coreui -->

    <!-- <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css"> -->


</head>

<body>
    <!-- <canvas id="line-chart" width="400px" height="200px"></canvas> -->
    <div class="m-5">
        <h3>Latest Reading</h3>
        <h6>Recorded At : {{output_data.latest_record.recorded}}</h6>
        <div class="row mt-5">
            <div class="col-3">
                {% with name='Temperature', value=output_data['latest_record']['temperature'], deviation=output_data['latest_record']['temperature_dev'], suffix=' \u00b0C', bg_color='#ff3333'  %}
                {% include 'components/card.html' %}
                {% endwith %}

            </div>
            <div class="col-3">
                {%  with name='Pressure' , value=output_data['latest_record']['pressure'], deviation=output_data['latest_record']['pressure_dev'], suffix=' mBar', bg_color='#1a53ff' %}
                {% include 'components/card.html'%}
                {% endwith %}
            </div>
            <div class="col-3">
                {%  with name='Humidity' , value=output_data['latest_record']['humidity'], deviation=output_data['latest_record']['humidity_dev'], suffix=' %', bg_color='#00e64d' %}
                {% include 'components/card.html'%}
                {% endwith %}
            </div>
            <div class="col-3">
                {%  with name='Ambient Light' , value=output_data['latest_record']['light'], deviation=output_data['latest_record']['light_dev'], suffix=' Lux', bg_color='#ff8c1a' %}
                {% include 'components/card.html'%}
                {% endwith %}
            </div>
        </div>

    </div>
    <div class="ml-5">
        <h4>Past Readings</h4>
    </div>
    <div class="mt-5" style="margin: auto; width: 80%;">
        <table class="table-responsive" id="example" style="width: auto;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Recorded</th>
                    <th scope="col">Temperature (&#176C)</th>
                    <th scope="col">Pressure (mBar)</th>
                    <th scope="col">Humidity (%)</th>
                    <th scope="col">Ambient Light (Lux)</th>
                </tr>
            </thead>
            <tbody>
                {% for record in output_data['all_records'] %}



                <tr>
                    <th scope="row">{{record.recorded}}</th>
                    <td>{{record.temperature}} (&#xB1 {{record.temperature_dev}})</td>
                    <td>{{record.pressure}} (&#xB1 {{record.pressure_dev}})</td>
                    <td>{{record.humidity}}% (&#xB1 {{record.humidity_dev}})</td>
                    <td>{{record.light}} (&#xB1 {{record.light_dev}})</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>


    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
    <script>
        $(function () {
            $(document).ready(function () {
                $('#example').DataTable(
                    {
                        "order": [[0, "desc"]],
                        responsive: true,
                        autoWidth: false,
                        // searching: false,
                        columns: [
                            { width: "20%" },
                            { width: "15%" },
                            { width: "15%" },
                            { width: "15%" },
                            { width: "15%" },
                        ]
                    }
                );
            });
        });
    </script>
</body>


<!-- coreui -->
<!-- <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script> -->

<!-- <script>
    var ctx = document.getElementById('line-chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                xAxisID:'recorded',
                data: {{output_data.all_records |tojson|safe}}
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time'
                }]
            }
        }
    });
</script> -->


<!-- <script>
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
            datasets: [{
                data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
                label: "Africa",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
                label: "Asia",
                borderColor: "#8e5ea2",
                fill: false
            }, {
                data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
                label: "Europe",
                borderColor: "#3cba9f",
                fill: false
            }, {
                data: [40, 20, 10, 16, 24, 38, 74, 167, 508, 784],
                label: "Latin America",
                borderColor: "#e8c3b9",
                fill: false
            }, {
                data: [6, 3, 2, 2, 7, 26, 82, 172, 312, 433],
                label: "North America",
                borderColor: "#c45850",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'World population per region (in millions)'
            },
            responsive: true
        }
    });
</script> -->

</html>